<script lang="ts" setup>
import Card from '../components/Card.vue';
import { computed, ComputedRef, ref, Ref } from "vue";
import CardsService from "../api/CardsService";
components: {
    Card
  };

  const getCardsError: Ref<any> = ref(null);
  const showCards = ref(false);
  const tidyCards = ref(false);
  const showSortedCards = ref(false);
  const cards: Ref<Card[]> = ref([]);
  const hasCards: ComputedRef<boolean> = computed(() => !!cards.value?.length)
  const sortedCards: Ref<Card[]> = ref([]);

  async function getCards() {
    try {
      getCardsError.value = null;
      sortedCards.value = [];
      showSortedCards.value = false;
      showCards.value = hasCards.value;
      const response = await CardsService.getCards(10);
      setTimeout(async () => {
        cards.value = response.data;
      }, hasCards.value ? 500 : 0);
      tidyCards.value = hasCards.value;
    } catch(err) {
      getCardsError.value = err;
    } finally {
      if (!getCardsError.value) {
        setTimeout(async () => {
          showCards.value = true;
        }, hasCards.value ? 500 : 0);
        setTimeout(() => tidyCards.value = false, 1200);
      }
    }
  }

  async function sortCards() {
    if (showSortedCards.value) {
      return;
    }
    try {
      const response = await CardsService.sortCards({cards: cards.value});
      sortedCards.value = response.data;
    } finally {
      // This part aims to animate the cards.
      // To avoid weird behavior we make sure we have the sorted cards to run the animations
      if (sortedCards.value?.length) {
        tidyCards.value = true;
        setTimeout(() => showSortedCards.value = true, 1200);
        setTimeout(() => tidyCards.value = false, 1700);
      }
    }
  }
</script>
<template>
<main>
    <button class="btn btn-primary" @click="getCards()">Get cards</button>
    <div class="cards" v-if="showCards" :class="{'tidy': tidyCards}">
      <Card v-for="card in cards" :card-color="card.color" :card-number="card.number"></Card>
    </div>
    <button v-if="showCards" class="btn btn-primary" @click="sortCards()">Sort cards</button>
    <div class="cards sorted" v-if="sortedCards?.length && showSortedCards">
      <Card v-for="card in sortedCards" :card-color="card.color" :card-number="card.number"></Card>
    </div>
  </main>
</template>
<style lang="scss" scoped>
main {
  display: grid;
  padding: 1.5rem;
  gap: 5rem;
  place-items: center;

  .cards {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-template-columns: repeat(10, minmax(60px, 0.66fr));
    
    &:not(.tidy) {
      animation: distribute .5s linear;

      .card {
        animation: showCards .7s linear .5s;

        &::after {
          animation: bgChange .85s linear;
        }
      }
    }
    
    &.tidy {
      animation: tidy .5s linear .7s forwards;

      .card {
        animation: hideCards .7s linear forwards;

        &::after {
          animation: bgChange2 .85s linear .35s forwards;
        }
      }
    }

    &.sorted {
      z-index: 1;
      animation: copyCards .5s linear, distribute .5s linear .5s;

      .card {
        animation: showCards .7s linear 1s;

        &::after {
          animation: bgChange 1.35s linear;
        }
      }
    }

    .card {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        z-index: 3;
      }
    }
  }

  @keyframes copyCards {
    0% {
      grid-template-columns: repeat(10, minmax(0, 0fr));
      translate: 0 calc(calc(100% + 36px + 2 * 5rem) * -1);
    }
    100% {
      grid-template-columns: repeat(10, minmax(0, 0fr));
      translate: none;
    }
  }

  @keyframes distribute {
    0% {
      grid-template-columns: repeat(10, minmax(0, 0fr));
    }
    100% {
      grid-template-columns: repeat(10, minmax(60px, 0.66fr));
    }
  }

  @keyframes tidy {
    100% {
      grid-template-columns: repeat(10, minmax(0, 0fr));
    }
  }

  @keyframes showCards {
    0% {
      rotate: y -180deg;
    }
    100% {
      rotate: y 0deg;
    }
  }

  @keyframes hideCards {
    0% {
      rotate: y 0deg;
    }
    100% {
      rotate: y -180deg;
    }
  }

  @keyframes bgChange {
    0%, 100% {
      background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(255,0,0,1) 25%, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
    }
  }

  @keyframes bgChange2 {
    0%, 100% {
      background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(255,0,0,1) 25%, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
    }
  }
}
</style>