<script lang="ts" setup>
    const props = defineProps<{
        cardColor: CardColor,
        cardNumber: CardNumber
    }>();

    function formatNumber(cardNumber: number) {
        switch(cardNumber) {
            case 1:
                return "A";
            case 11: 
                return "J";
            case 12:
                return "Q";
            case 13:
                return "K";
            default:
                return cardNumber;
        }
    }
</script>
<template>
    <div class="card">
        <div class="card-number left">
            <span class="number">{{ formatNumber(props.cardNumber) }}</span>
            <span class="color" :class="props.cardColor.toLowerCase()"></span>
        </div>
        <div class="card-body" :class="'n' + props.cardNumber">
            <span v-for="i in formatNumber(props.cardNumber)" :key="`color${i}`" class="color" :class="props.cardColor.toLowerCase()" :style="`grid-area: c${i}`"></span>
        </div>
        <div class="card-number right">
            <span class="number">{{ formatNumber(props.cardNumber) }}</span>
            <span class="color" :class="props.cardColor.toLowerCase()"></span>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.card {
    background: #fff;
    border: .0625px solid #000;
    border-radius: .375rem;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(5, 2.25ch);
    gap: 1rem .25rem;
    box-shadow: 0 0 10px 3px hsla(0, 0%, 60%, 0.6);
    z-index: 1;
    transition: scale 200ms linear;

    &:hover {
        z-index: 2;
        scale: 1.1;
    }

    .card-number {
        display: grid;
        grid-auto-rows: min-content;
        justify-items: center;

        &:has(.carreaux, .coeur) {
            color: #f00;
        }

        &:has(.pique, .trefle) {
            color: #000;
        }

        .color {
            font-size: 1.25rem;
        }

        &.left {
            grid-column: 1 /span 1;
        }

        &.right {
            grid-column: 5 /span 1;
            rotate: 180deg;
        }
    }

    .card-body {
        display: grid;
        grid-column: 2 /span 3;
        place-items: center;
        grid-auto-rows: 2rem;
        grid-auto-columns: 1fr;
        gap: inherit;
        padding-block: .5rem;

        &.n1 {
            grid-template-areas: 
            ". . ."
            ". cA ."
            ". cA ."
            ". . .";

            .color::before {
                content: "A";
            }
        }

        &.n2 {
            grid-template-areas: 
            ". c1 ."
            ". . ."
            ". . ."
            ". c2 .";
        }

        &.n3 {
            grid-template-areas: 
            ". c1 ."
            ". c2 ."
            ". c2 ."
            ". c3 .";
        }

        &.n4 {
            grid-template-areas: 
            "c1 . c2"
            ". . ."
            ". . ."
            "c3 . c4";
        }

        &.n5 {
            grid-template-areas: 
            "c1 . c2"
            ". c3 ."
            ". c3 ."
            "c4 . c5";
        }

        &.n6 {
            grid-template-areas: 
            "c1 . c2"
            "c3 . c4"
            "c3 . c4"
            "c5 . c6";
        }

        &.n7 {
            grid-template-areas: 
            "c1 . c2"
            "c3 c4 c5"
            "c3 . c5"
            "c6 . c7";
        }

        &.n8 {
            grid-template-areas: 
            "c1 . c2"
            "c3 . c4"
            "c5 . c6"
            "c7 . c8";
        }

        &.n9 {
            grid-template-areas: 
            "c1 c2 c3"
            "c4 c2 c5"
            "c6 . c7"
            "c8 . c9";
        }

        &.n10 {
            grid-template-areas: 
            "c1 c2 c3"
            "c4 c2 c5"
            "c6 c8 c7"
            "c9 c8 c10";
        }

        &.n11 {
            grid-template-areas: 
            ". . ."
            ". cJ ."
            ". cJ ."
            ". . .";

            .color::before {
                content: "J";
            }
        }

        &.n12 {
            grid-template-areas: 
            ". . ."
            ". cQ ."
            ". cQ ."
            ". . .";

            .color::before {
                content: "Q";
            }
        }

        &.n13 {
            grid-template-areas: 
            ". . ."
            ". cK ."
            ". cK ."
            ". . .";
            
            .color::before {
                content: "K";
            }
        }
    }

    .color {
        font-size: 2rem;
        line-height: 1;
        position: relative;

        &:where(.carreaux, .coeur) {
            color: #f00;
        }

        &:where(.pique, .trefle) {
            color: #000;
        }

        &.carreaux {
            &::before {
                content: '♦️';
            }
        }

        &.coeur {
            &::before {
                content: '♥️';
            }
        }

        &.pique {
            &::before {
                content: '♠️';
            }
        }

        &.trefle {
            &::before {
                content: '♣️';
            }
        }
    }
}
</style>
