.btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 0.375rem;
    border: 1px solid #0000;
    outline-offset: .25rem;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: var(--clr-on-primary);

    &:hover, &:focus-visible {
        background-color: var(--clr-primary-visited);
    }
}

a {
    color: var(--clr-primary);
    outline-offset: .25rem;

    &:visited {
        color: var(--clr-primary-visited);
    }
}