<script setup lang="ts">
import { computed, ref } from 'vue';
import { useRoute } from 'vue-router';
import LocalStorageService from './services/LocalStorageService';
import LocalStorageConstants from './constants/LocalStorageConstants';

const LIGHT: string = "light";
const DARK: string = "dark";
const route = useRoute();
const storedTheme = computed(() => LocalStorageService.getItem<string>(LocalStorageConstants.THEME));
const theme = ref(storedTheme.value || LIGHT);
function applyTheme() {
  if (theme.value === LIGHT) {
    document.body.parentElement?.classList.add(LIGHT);
    document.body.parentElement?.classList.remove(DARK);
  } else {
    document.body.parentElement?.classList.add(DARK);
    document.body.parentElement?.classList.remove(LIGHT);
  }
  LocalStorageService.setItem(LocalStorageConstants.THEME, theme.value);
}
applyTheme();
</script>

<template>
  <header>
    <div class="title-wrapper">
      <h1>Get cards and sort them!</h1>
      <RouterLink v-if="route.name !== 'cards'" :to="'/cards'">Let's go</RouterLink>
    </div>
    <div class="switcher-wrapper">
      <label for="theme-switcher" title="Switch theme">
        <input type="checkbox" name="theme" id="theme-switcher" title="Switch theme" v-model="theme" :true-value="LIGHT" :false-value="DARK" @change="applyTheme()">
      </label>
    </div>
  </header>
  <RouterView />
</template>

<style lang="scss" scoped>
header {
  display: flex;
  padding: 1rem 1.5rem;
  place-items: center;
  height: fit-content;
  justify-content: center;

  .title-wrapper {
    display: grid;
    place-items: center;
    gap: 1rem;

    h1 {
      margin: 0;
    }
  }

  .switcher-wrapper {

    label {
      position: absolute;
      top: 2rem;
      right: 2rem;
      height: 2rem;
      width: 2rem;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;

      &::before {
        font-size: 1.5rem;
      }

      :where(html, html.light) & {
        backdrop-filter: brightness(.95);

        &:hover, &:has(:focus-visible) {
          backdrop-filter: brightness(.90);
        }

        &::before {
          content: '☽';
        }
      }

      :where(html.dark) & {
        backdrop-filter: brightness(2);

        &:hover, &:has(:focus-visible) {
          backdrop-filter: brightness(1.8);
        }

        &::before {
          content: '☀';
        }
      }

      input {
        position: absolute;
        appearance: none;
        inset: 0;
        border-radius: 50%;
        outline-offset: .25rem;
        cursor: pointer;
      }
    }
  }
}
</style>