@import "./assets/base.scss";

:root,
:root.dark {
  font-family: sans-serif;
  line-height: 1.3;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --clr-primary: hsl(204, 100%, 69%);
  --clr-primary-visited: hsl(204, 100%, 59%);
  --clr-on-primary: hsl(0, 0%, 15%);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
}

#app {
  display: grid;
  min-height: 100vh;
  grid-auto-rows: max-content;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root,
  :root.light {
    --clr-primary: hsl(204, 100%, 39%);
    --clr-primary-visited: hsl(204, 100%, 29%);
    --clr-on-primary: hsl(0, 0%, 95%);

    color: #213547;
    background-color: #ffffff;
  }
}
